
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.slideshowImage{
  height: 50rem;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

.login,
.image {
  min-height: 100vh;
}
.bg-image {
  justify-content: center;
}

#header {
  position: absolute;
  width: 220px;
  }
  #header .pro-sidebar-header{
    padding: 10px;
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
  }
#header .pro-sidebar-inner {
  background-color:  rgb(64, 109, 92);
  box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);
  }
  #header .pro-sidebar-inner .pro-sidebar-layout {
  overflow-y: hidden;
  height: 100vh;
  }
 
  #header .pro-sidebar-inner .pro-sidebar-layout ul {
  padding: 0 5px;
  }
  #header .pro-sidebar-inner .pro-sidebar-layout ul .pro-inner-item {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin: 10px 0px;
  font-weight: bold;
  }

.pro-sidebar-footer .pro-item-content{
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 2px;
}

#home.col{
  margin-right: 100px !important;
}
