<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @helper.first_name %></h1>
    <p>
    Your Health Partner, <%= @user.first_name %>, has not taken the following medication:
    </p>
      <li>
        <%= @event %>
      </li>
    <p>Please contact them and remind them to take their medication.</p>
  </body>
</html>