<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good morning, <%= @user.first_name %></h1>
    <p>
      You need to take this medicine today:
    </p>
      <li>
        <%= @event %>
      </li>
    <p>Have a great day!</p>
  </body>
</html>